#titulo{
    color: #219ebc;
    width: 310px;
    height: 50px;
    background-color:#ffb703;
    border-radius: 15px;
}

#mascotas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.tarjeta-mokepon{
    color:aliceblue;
    width: 100px;
    height: 100px;
    background-color: #219ebc;
    padding: 10px;
    border: 10px solid yellowgreen;
    margin: 10px;

}

input{
    display: none;
}
#seleccionar-ataque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
