.titulo{
    color: green;
    width: 310px;
    height: 50px;
    background-color: yellowgreen;
    border-radius: 15px;
}
label{
    background-color: aquamarine;

}
input{ 
    background-color: antiquewhite;
    
}
button{
    background-color: blue;
}

#seleccionar-ataque{
   /*  display: none; */
}

.toggle-ataque {
    display: none;
}

